.piechart-container {
  // background: #fbfbfb;
  background: green;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  padding-top: 3rem;

  position: relative;
  p {
    &.piechart-title {
      position: absolute;
      top: 24px;
      left: 30px;
      font-weight: 500;
      font-size: 1rem;
      line-height: 24px;
      color: #20253a;
    }
    &.piechart-score {
      color: #282d30;

      position: absolute;
      left: 32.17%;
      top: 43.75%;

      span {
        &.score-percent {
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 26px;
        }

        &.score-text {
          font-size: 12px;
        }
      }
    }
  }
}
