.dashboard-container {
  .dashbord-content {
    display: flex;
    .dashboard {
      padding: 2rem 3rem;

      @media only screen and (max-width: 780px) {
        padding: 2rem 0;
        margin: 0 1rem;
      }

      .dashboard-title {
        p {
          color: #000000;
          &.welcome {
            span {
              font-weight: bold;
              font-size: 48px;
              line-height: 24px;

              &.user-firstName {
                color: #ff0101;
                margin-left: 8px;
              }
            }
          }

          &.text {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            margin: 2rem 0 2.5rem;
          }
        }
      }

      .components-container {
        display: flex;
        gap: 1.5rem;
        @media only screen and (max-width: 780px) {
          gap: 1rem;
        }
        .recharts-components {
          width: 100%;
          display: flex;
          gap: 10px;

          .chart-content {
            width: 14rem;
            height: 14rem;

            @media only screen and (max-width: 780px) {
              width: 10rem;
              height: 12rem;
            }
            @media only screen and (min-width: 781px) and (max-width: 1025px) {
              width: 12rem;
              height: 12rem;
            }
          }
        }
      }
    }
  }
}
