.data-container {
  display: flex;
  flex-direction: column;
  // gap: 39px;
  gap: 1rem;
  @media only screen and (max-width: 780px) {
    gap: 0.7rem;
  }
  .data-content {
    display: flex;
    // gap: 24px;
    background: #fbfbfb;
    // background-color: orange;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    // padding: 32px;
    gap: 1rem;
    padding: 1rem;

    @media only screen and (max-width: 780px) {
      gap: 0.5rem;
    }

    img {
      width: 60px;
      height: 60px;
    }

    .title-content {
      p {
        line-height: 24px;
        &:first-child {
          font-weight: 700;
          font-size: 20px;
          color: #282d30;
        }
        &.title {
          font-weight: 500;
          font-size: 14px;
          color: #74798c;
        }
      }
    }
  }
}
