@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

// @media all and (min-width: 768px) and (max-width: 1024px) {
//   .chart-content {
//     width: 20rem;
//     height: 20rem;
//   }
// }
